*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.smallCursor{
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}
.shadowCursor{
    width: 60px;
    height: 60px;
    background-color: red;
    border-radius: 100%;
    filter: blur(12px);
    position: absolute;
    top: 0;
    left: 0;
     transform: translate(-50%, -50%);
}
