* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f2f2f2;
}

.container {
  width: 350px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}

.search-box {
  margin-bottom: 15px;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.user-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.user {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 5px;
  border-radius: 8px;
  transition: background 0.2s;
}

.user:hover {
  background: #f9f9f9;
}

.user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: top;
}

.user-info h4 {
  font-size: 15px;
  font-weight: bold;
}

.user-info p {
  font-size: 14px;
  color: #666;
}
.not-found {
  text-align: center;
  color: #888;
  font-size: 16px;
  margin-top: 20px;
  display: none; /* pehle hidden */
}