*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    color: white;
}
.grandParent{
    padding: 100px;
    background-color: black;
    
}
.parent{
    padding: 70px;
    background-color: brown;
    margin: 70px;
}
.child{
    padding: 50px;
    background-color: lightseagreen;
    margin: 50px;

}

.container{
    background-color: lightseagreen;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    flex-wrap: wrap;
    padding: 150px;
}
.box{
    background-color: brown;
    color: white;
    font-size: 60px;
    padding: 10px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}